<section id="energySection">
    <div class="container">
        <div class="card">
            <img class="card-img-top" ng-src={{caffeineImage}} alt="Cayenne Pepper">
            <div class="card-body">
                <h4 class="card-title"><b>1. {{caffeineSupplement}}</b></h4><br>
                <p class="card-text">{{caffeineDescription}}</p>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="container">
        <div class="card">
            <img class="card-img-top" ng-src={{taurineImage}} alt="Cayenne Pepper">
            <div class="card-body">
                <h4 class="card-title"><b>2. {{taurineSupplement}}</b></h4><br>
                <p class="card-text">{{taurineDescription}}</p>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="container">
        <div class="card">
            <img class="card-img-top" ng-src={{vitaminCImage}} alt="Cayenne Pepper">
            <div class="card-body">
                <h4 class="card-title"><b>3. {{vitaminCSupplement}}</b></h4><br>
                <p class="card-text">{{vitaminCDescription}}</p>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="container">
        <div class="card">
            <img class="card-img-top" ng-src={{vitaminEImage}} alt="Cayenne Pepper">
            <div class="card-body">
                <h4 class="card-title"><b>4. {{vitaminESupplement}}</b></h4><br>
                <p class="card-text">{{vitaminEDescription}}</p>
            </div>
        </div>
    </div>

</section>