<section id="weight-loss">

<div class="container">
    <div class="card">
        <img class="card-img-top" ng-src={{wheyProteinImage}} alt="Whey Protein">
        <div class="card-body">
            <h4 class="card-title"><b>1. {{proteinSupplement}}</b></h4><br>
            <p class="card-text">{{proteinDescription}}</p>
        </div>
    </div>
</div>

    <br><br><br>

    <div class="container">
        <div class="card">
            <img class="card-img-top" ng-src={{caffeineImage}} alt="Caffeine">
            <div class="card-body">
                <h4 class="card-title"><b>2. {{caffeineSupplement}}</b></h4><br>
                <p class="card-text">{{caffeineDescription}}</p>
            </div>
        </div>
    </div>


    <br><br><br>

    <div class="container">
        <div class="card">
            <img class="card-img-top" ng-src={{greenTeaImage}} alt="Green Tea Extract">
            <div class="card-body">
                <h4 class="card-title"><b>3. {{greenTeaSupplement}}</b></h4><br>
                <p class="card-text">{{greenTeaDescription}}</p>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="container">
        <div class="card">
            <img class="card-img-top" ng-src={{glutamineLossImage}} alt="Glutamine">
            <div class="card-body">
                <h4 class="card-title"><b>4. {{glutamineLossSupplement}}</b></h4><br>
                <p class="card-text">{{glutamineLossDescription}}</p>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="container">
        <div class="card">
            <img class="card-img-top" ng-src={{chitosanImage}} alt="Chitosan">
            <div class="card-body">
                <h4 class="card-title"><b>5. {{chitosanSupplement}}</b></h4><br>
                <p class="card-text">{{chitosanDescription}}</p>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="container">
        <div class="card">
            <img class="card-img-top" ng-src={{hcaImage}} alt="HCA">
            <div class="card-body">
                <h4 class="card-title"><b>6. {{hcaSupplement}}</b></h4><br>
                <p class="card-text">{{hcaDescription}}</p>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="container">
        <div class="card">
            <img class="card-img-top" ng-src={{cayennePepperImage}} alt="Cayenne Pepper">
            <div class="card-body">
                <h4 class="card-title"><b>7. {{cayennePepperSupplement}}</b></h4><br>
                <p class="card-text">{{cayennePepperDescription}}</p>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="container">
        <div class="card">
            <img class="card-img-top" ng-src={{vitaminDImage}} alt="Cayenne Pepper">
            <div class="card-body">
                <h4 class="card-title"><b>8. {{vitaminDSupplement}}</b></h4><br>
                <p class="card-text">{{vitaminDDescription}}</p>
            </div>
        </div>
    </div>


    <br><br><br>

    <div class="container">
        <div class="card">
            <img class="card-img-top" ng-src={{oliveLeafImage}} alt="Cayenne Pepper">
            <div class="card-body">
                <h4 class="card-title"><b>9. {{oliveLeafSupplement}}</b></h4><br>
                <p class="card-text">{{oliveLeafDescription}}</p>
            </div>
        </div>
    </div>
    <br><br><br>

    <div class="container">
        <div class="card">
            <img class="card-img-top" ng-src={{chromiumImage}} alt="Cayenne Pepper">
            <div class="card-body">
                <h4 class="card-title"><b>10. {{chromiumSupplement}}</b></h4><br>
                <p class="card-text">{{chromiumDescription}}</p>
            </div>
        </div>
    </div>



</section>

